In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/votes-q1.csv')

In [6]:
table = (
    df
    .assign(label = lambda df: df.path.apply(lambda x: x.split('/')[-1].split(':')[0]))
    .pivot_table(
        index = 'vote',
        columns = 'label',
        values = 'user',
        aggfunc = 'count'
    )
)

table

label   Utilisateur  Utilisatrice
vote
neutre            7             2
non             100            26
oui             158             9

In [8]:
print(table.to_markdown())

| vote   |   Utilisateur |   Utilisatrice |
|:-------|--------------:|---------------:|
| neutre |             7 |              2 |
| non    |           100 |             26 |
| oui    |           158 |              9 |

In [17]:
(
    table
    .div(table.sum(axis=0), axis=1)
    .style
    .format(
        '{:,.1%}'
    )
)